{% load i18n %}
<html>
    <head>
        <title>{% trans "Skilled employees search engine" %}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}search_form.css" />
    </head>
    <body>
    <h2>{% trans "Skilled employees search engine" %}</h2>

    {% if render.form.errors %}
        <p id="errors"> {% trans "Following errors were found:" %}</p>{{ render.form.errors }}
    {% endif %}

    <form action="." method="post"> {% csrf_token %}
        <table>
            {{ render.form.as_table }}
        </table>
        <input type="submit" value={% trans "Search" %} />
    </form>

    {% if render.request %}
        {% if render.result %}
            <table id="request_result">
                <tr class="request"><th class="request_th">{% trans "Employee" %}</th><th class="request_th">{% trans "Skills" %}</th></tr>
                {% for employee in render.result %}
                    <tr class="request"><td class="request_td">{{ employee.worker }}</td><td class="request_th">{{ employee.skills }}</td></tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans "Nothing was found" %}</p>
        {% endif %}
    {% endif %}

    <br>
    <a href="{% url admin:index %}">{% trans "Enter base" %}</a>
    </body>
</html>
