#errors
{
    color: red;
}

#request_result
{
    border: 1px solid black;
}
.request
{
    border: 1px solid black;
    padding: 5px;
}
.request_th
{
    border: 1px solid black;
    padding: 5px;
}
.request_td
{
    border: 2px solid black;
    padding: 5px;
}
